body{
    margin: 5px;
    background-color: black;
    color: aliceblue;

}
.contenedor{
    display: grid;
    grid-template-columns: repeat(4,3fr);
    grid-gap: 1cm;
    padding: 20px;
}
.contenedor div{
    background-color: blue;
    color: yellow;
    padding: 2em;
    font-size: 20px;
}
.contenedor div:hover{
    border: 5px solid red;
}
.centrar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 15px;
    }
div.desc{
    padding: 15px;
    text-align: center;
    background: black;
    color: aliceblue;
    font-size: 24px;
}